.topic {
  padding: 2rem 0;
  font-size: 1.5rem;

  &__create {
    position: fixed;
    bottom: 0;
    width: 100vw;

    display: flex;
    justify-content: center;
  }

  &__container {
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }

  &__bar {
    padding: 0.3rem 0;
    background: $color-wet-asphalt;

    @include flexCenter;
    flex-direction: column;

    &__line {
      height: 1.5px;
      width: 3rem;
      background: $color-grey-light-1;

      &:not(:last-child) {
        margin-bottom: 1.5px;
      }
    }
  }

  &__main {
    padding: 1rem 1.5rem;
  }

  &__icon {
    width: 1rem;
    filter: invert(0.35);
  }

  &__header {
    color: $color-grey-dark-2;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  &__content {
    display: flex;

    & > * {
      width: 50%;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
      display: flex;

      & > * {
        margin-right: 1rem;
      }
    }

    &__toggle {
      background: none;
      font-size: 1.5rem;
      text-transform: capitalize;
      font-family: $font-primary;
      font-weight: 700;
      letter-spacing: 0.5px;
      border: none;
      cursor: pointer;
      color: $color-grey-dark-2;
      transition: 0.2s;

      &:hover {
        color: $color-grey-dark-1;
        transform: translateY(-1px) scale(1.01);
      }
    }
  }

  &__form {
    & > * {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &__full {
      width: 100% !important;
    }
  }

  &__preview {
    &__content {
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
      border-radius: 5px;
      padding: 1rem 1.5rem;
      height: 31rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;

        &-track {
          background-color: $color-grey-light-4;
          border-radius: 5rem;
        }

        &-thumb {
          background-color: $color-wet-asphalt;
          border-radius: 5rem;
        }
      }
    }

    &__title {
      text-align: center;
      font-size: 1.8rem;
    }

    &__body {
      font-size: 1.4rem;
    }

    &__hide {
      width: 50%;
    }
  }

  &__no-content {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    text-align: center;
  }

  &--show {
    animation: moveInBottom 0.4s ease-out forwards;
  }

  &--close {
    animation: moveOutBottom 0.4s ease-out forwards;
  }
}
