$font-primary: "Source Sans Pro", sans-serif;
$font-serif: "Playfair Display", serif;
$font-sans-serif: "Josefin Sans", sans-serif;
$font-cursive: "Black Ops One", cursive;

$color-pink: #eb2f64;
$color-pink-light: #ff3366;
$color-pink-dark: #ba265d;

$color-red: #e74c3c;
$color-red-dark: #c0392b;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-light-2: #2980b9;
$color-blue-dark-1: #5643fa;
$color-blue-dark-2: #101d2c;

$color-dracula-orchid: #2d3436;
$color-black-pearl: #1e272e;
$color-midnight-blue: #2c3e50;
$color-wet-asphalt: #34495e;

$color-brown-light-1: #c69963;
$color-brown-light-2: #b28451;

$color-brown-dark-1: #54483a;
$color-brown-dark-2: #6d5d4b;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-4: #2f363f;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);

$box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
$box-shadow-small: 0 1rem 2rem rgba($color-black, 0.2);
