@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans&family=Playfair+Display&family=Source+Sans+Pro&display=swap");

body {
  line-height: 1.7;
  color: $color-grey-dark-1;
  font-family: $font-primary;
}

.text-muted {
  font-size: 1.4rem;
  color: #7f8fa4 !important;
}
